html {
  color: white;
  font-family: 'Lato';
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.bg {
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(23, 23, 22) 0%, rgb(23, 23, 22) 25%, rgb(23, 23, 22) 51%, #4a4849 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

.icon-size-set {
  font-size: xx-large;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.page-layout {
  display: grid;
  grid-template-columns: 10% 80% 10%;

}

.top-scroller-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  height: 25%;
  /* height: 100%; */
}

.top-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  overscroll-behavior-inline: contain;
  margin-top: 5%;

  /* align-items: center; */
}

.top-scroller-buttons {
  margin: auto;
  text-align: center;
}

.top-scroller-segment {
  display: grid;
  grid-template-rows: 70% 30%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  text-align: center;
  border-radius: 25px;
  overflow-y: hidden;
}

.top-scroller-eti {
  background-image: url("../Media/EtiBackground.png");
  background-size: 200% 200%;
  background-position: 90% 50%;
}

.top-scroller-project {
  /* background-image: url("../Media/manWorking.png"); */
  background-size: 100% 100%;
}

.top-scroller-project-color {
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-size: 500% 500%;
  background-image: linear-gradient(0deg, rgb(6, 244, 232) 0%, rgb(9, 247, 132) 10%, rgb(192, 247, 9) 20%, rgb(247, 9, 9) 30%,
      rgb(207, 9, 247) 40%, rgb(50, 6, 244) 50%, rgb(6, 244, 232) 60%, rgb(9, 247, 132) 70%, rgb(192, 247, 9) 80%, rgb(247, 9, 9) 90%,
      rgb(207, 9, 247) 100%);
  -webkit-animation: AnimateBG2 20s linear infinite;
  animation: AnimateBG2 20s linear infinite;
}

.top-scroller-shadows-color {
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-size: 500% 500%;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(127, 127, 127) 10%, rgb(255, 255, 255) 20%, rgb(127, 127, 127) 30%,
      rgb(0, 0, 0) 40%, rgb(127, 127, 127) 50%, rgb(255, 255, 255) 60%, rgb(128, 128, 128) 70%, rgb(0, 0, 0) 80%, rgb(127, 127, 127),
      rgb(255, 255, 255) 100%);
  -webkit-animation: AnimateBG2 20s linear infinite;
  animation: AnimateBG2 20s linear infinite;
}

.top-scroller-project-title {
  font-size: 150px;
}

.top-scroller-segment-opacity {
  background-color: black;
  opacity: 0.8;
  z-index: 200;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.top-scroller-segment-information {}



.top-scroller-lft-btn,
.top-scroller-rgt-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.top-scroller-lft-btn:hover,
.top-scroller-rgt-btn:hover {
  opacity: 1;

}


.about-me {
  margin: auto;
  padding: 20px 20px;
  background-color: transparent;
  margin-top: 10%;
  margin-bottom: 15%;
  border-radius: 25px;
  /* border-left: 1px solid rgb(255, 255, 255); */
}

.about-me-header {
  font-size: larger;
  margin-bottom: 2%;
}

/* Education, ECA, Work-Experience */

.sector {
  height: 0;
  overflow: auto;
  background: transparent;
  width: 95%;
  margin: auto;
  /* border-radius: 25px; */
  /* padding: 10px 12px; */
  overscroll-behavior: contain;
}

.show-data {
  display: none;
}

.startDisplay {
  animation: slide 0.5s ease forwards;
}

.stopDisplay {
  animation: slide-back 0.5s normal backwards;
}

.ButtonLooking,
.header-font {
  background-color: transparent;
  cursor: pointer;
  font-size: xx-large;
  border-bottom: white solid 1px;
  border-radius: 10px;
  -webkit-background-clip: text;
  background-size: 500% 500%;
  background-clip: text;
  background-image: linear-gradient(90deg, rgb(6, 244, 232) 0%, rgb(9, 247, 132) 80%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimateBG3 3s ease infinite;
  animation: AnimateBG3 3s ease infinite;
  margin-bottom: 20px;
  text-align: center;
}

.project-button {
  font-size: x-large;
}

.sidenav a.project-button:hover {
  background: transparent;
  -webkit-background-clip: text;
  background-size: 500% 500%;
  background-clip: text;
  background-image: linear-gradient(90deg, rgb(6, 244, 232) 0%, rgb(9, 247, 132) 80%);
}

.project-link-main {
  color: lightblue;
  cursor: pointer;
}

.Project-Link {
  border-bottom: none;
  margin: auto;
}

.project-link-background {
  background-size: 500% 500%;
  background-image: linear-gradient(-45deg, rgb(30, 29, 30) 20%, rgb(44, 41, 44) 45%, rgb(56, 53, 53) 50%, rgb(44, 42, 44) 55%, rgb(30, 29, 30) 80%);
  -webkit-animation: AnimateBG2 10s ease infinite;
  animation: AnimateBG2 8s ease infinite;
  border: white solid 1px;
  border-radius: 25px;
  width: fit-content;
  margin: auto;
  padding: 5%;
  margin-bottom: 12%;
}

.ButtonLooking {
  padding: 10px 12px;
}

.sector-main-heading {
  font-size: x-large;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

.sector-sec-heading {
  font-size: large;
  margin-top: 3%;
  margin-bottom: 3%;
}

.sector-ter-heading {
  font-size: medium;
}

@-webkit-keyframes AnimateBG3 {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes AnimateBG3 {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes slide {
  from {
    height: 0;
  }

  to {
    height: 300px;
  }
}

@keyframes slide-back {
  from {
    height: 300px;
  }

  to {
    height: 0;
  }
}

/* Skill layout and scroll */
.header-font {
  padding: 10px 50px;
  font-size: xx-large;
  border-right: white solid 1px;
  border-bottom: none;
  max-width: 250px;
  border-radius: 10px;
  margin: auto;
  line-height: 300px;
}

.skill-grid {
  display: grid;
  grid-template-columns: 300px auto;
  margin-top: 15%;
}

.skill-layout {
  margin-top: 2%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 350px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar-gutter: stable;
  overflow-x: scroll;
}

.skill-layout::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
}

.skill-layout::-webkit-scrollbar {
  height: 10px;
}

.sector::-webkit-scrollbar {
  width: 10px;
}

.sector::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
}

.back::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
}

.back::-webkit-scrollbar {
  width: 10px;
}



/* The side navigation menu */
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(30, 29, 30);
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s;
}

.sidenav .profile-information,
h2,
a {
  text-align: center;
}

.profile-img {
  width: 160px;
  border-radius: 100%;
  box-shadow: 1px 10px 5px rgb(39, 40, 40);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}


.sidenav a {
  padding: 8px 8px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background: rgba(223, 221, 223, 0.3);
  border-radius: 25px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-width: 700px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.extra-information-layout {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 15%;
  margin-bottom: 20%;
}

/*  */
.extra-information {
  display: grid;
  grid-template-rows: auto auto;
  width: 500px;
  height: 400px;
  border-radius: 25px;
  margin-top: 10%;
  transition: 0.3s;
  margin: auto;
  border: solid white;
  margin-bottom: 15%;
}


div .extra-information .back .header {
  font-size: larger;
  background-color: transparent;
  line-height: 100px;
  text-align: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}


div .extra-information .back .information {
  /* text-align: center; */
  margin-top: 10%;
}

div .extra-information .back .information div {
  text-align: center;
}

.extra-information>.front {
  transform: perspective(600px) rotateY(0deg);
  background-size: 500% 500%;
  background-image: linear-gradient(-45deg, rgb(30, 29, 30) 20%, rgb(44, 41, 44) 45%, rgb(56, 53, 53) 50%, rgb(44, 42, 44) 55%, rgb(30, 29, 30) 80%);
  -webkit-animation: AnimateBG2 10s ease infinite;
  animation: AnimateBG2 8s ease infinite;
}

.extra-information>.front>.front-heading {
  -webkit-background-clip: text;
  background-size: 500% 500%;
  background-clip: text;
  background-image: linear-gradient(90deg, rgb(6, 244, 232) 0%, rgb(9, 247, 132) 80%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimateBG3 3s ease infinite;
  animation: AnimateBG3 3s ease infinite;
  font: "Lato";
  font-size: xx-large;
  margin-top: 35%;
  text-align: center;
}

@-webkit-keyframes AnimateBG2 {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes AnimateBG2 {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.extra-information>.back {
  transform: perspective(600px) rotateY(180deg);
  overflow-y: auto;
}

.extra-information>.back .information ul {
  list-style: none;
}

/*  */
/* style the maincontainer class with all child div's of class .back */
.extra-information>.back,
.front {
  position: absolute;
  width: 500px;
  height: 400px;
  border-radius: 25px;
  background-color: rgb(30, 29, 30);
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}

.extra-information:hover>.front {
  transform: perspective(600px) rotateY(-180deg);
}

.extra-information:hover>.back {
  transform: perspective(600px) rotateY(0deg);
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {

   

  .top-scroller-project-title {
    font-size: 110px;
  }

  .icon-size-set {
    /* font-size: large; */
  }

  .extra-information>.back,
  .front,
  .extra-information {
    width: 350px;
    height: 275px;
  }

  .header-font {
    padding: 10px 40px;
  }

  /* .skill-grid {
    grid-template-columns: 250px auto;
  } */

  .child {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {

  .top-scroller-project-title {
    font-size: 80px;
  }

  .extra-information>.back,
  .front,
  .extra-information {
    width: 300px;
    height: 250px;
  }

  .skill-grid {
    grid-template-columns: 250px auto;
  }


  .ButtonLooking,
  .header-font {
    font-size: x-large;
  }

  .header-font {
    padding: 10px 40px;
  }

  .sector-main-heading {
    font-size: large;
  }

  .sector-sec-heading {
    font-size: medium;
  }

  .sector-ter-heading, .top-scroller-segment-information {
    font-size: small;
  }

  .workExperience,
  .ECA,
  .Education {
    font-size: x-small;
  }
}

@media screen and (max-width: 700px) {

  .icon-size-set {font-size: xx-small; }

  .top-scroller-project-title {
    font-size: 50px;
  }


  .extra-information>.back,
  .front,
  .extra-information {
    width: 250px;
    height: 200px;
  }

  .skill-grid {
    grid-template-columns: 150px auto;
  }


  .extra-information-layout {
    grid-template-rows: auto auto;
    grid-template-columns: none;
  }

  .ButtonLooking,
  .header-font {
    font-size: x-large;
  }

  .extra-information>.front>.front-heading {
    font-size: larger;
  }

  .header-font {
    padding: 1px 1px;
    margin: 0;
    width: 70px;
  }

  .skill-layout {
    grid-auto-columns: 200px;
    margin-left: -30px;
  }

  html {
    font-size: x-small;
  }

  .sector-main-heading {
    font-size: small;
  }

  .sector-sec-heading, .top-scroller-segment-information {
    font-size: x-small;
  }

  .sector-ter-heading {
    font-size: x-small;
  }

  .workExperience,
  .ECA,
  .Education {
    font-size: xx-small;
  }
}


@media screen and (max-width: 1000px) {
.top-scroller-segment { 
  margin-left: 5%;
  margin-right: 5%;
}

.top-scroller-container {
  grid-template-columns: 8% 84% 8%;
  /* height: 100%; */
}

.icon-size-set {font-size: large; }

  .top-scroller-segment { 
    grid-template-rows: 50% 50%;
  }

  .top-scroller-eti {
    background-position: 90% 40%;
  }

  .page-layout {
    grid-template-columns: 100%;
  }

  .sector,
  .ButtonLooking {
    /* width: 80%; */
    margin: auto;
  }

  .back::-webkit-scrollbar,
  .sector::-webkit-scrollbar {
    width: 5px;
  }

  .profile-img {
    width: 50px;
  }

  .sidenav .sector-main-heading {
    font-size: 10px;
    margin-top: -3%;
  }

  .sidenav a {
    font-size: 6px;
  }

  .sidenav {
    font-size: 5px;
  }

  div .extra-information .back .information {
    /* text-align: center; */
    margin-top: 5%;
  }
}