.topnav div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
    display: inline-block
}

.name {
    font-size: x-large;
    padding: 9px 9px;
}


.topnav {
    background-color: transparent;
    padding: 10px 10px;
    /* overflow: hidden; */
}

.topnav .linkedin-img {
    float: right;
    cursor: pointer;
}

.img {
    max-width: 55px;
}

.img2 {
    max-width: 35px;
    padding-bottom: 5px;
    cursor: pointer;
}

.link-all {
    margin-left: 2%;
}

.topnav .link {
    float: left;
    padding: 9px 16px;
    text-decoration: none;
    /* font-size: 17px; */
    overflow: hidden;
    font-family: Arial;
    color: white;
}

.topnav .link:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
    border-radius: 25px;
}


.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    /* margin: 0; */
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(223, 221, 223, 0.3);
    margin-top: 37px;
    border-radius: 10px;
}

.dropdown-content a {
    /* float: none; */
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(223, 221, 223, 0.3);
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 1300px) and (min-width: 1000px) {
    .child {
      height: 300px;
      width: 250px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .name {
     font-size: medium;
    }

    a {
        font-size: x-small;
    }

    .link, .dropdown .dropbtn {
        font-size: 8px;
        
    }

    div .child .information {
        font-size:x-small;
    }

    .topnav .linkedin-img {
        display: none;
     }

     .img2 {
        width: 25px;
     }

  }
