html {
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

.divide-table-input {
    display: grid;
    grid-template-columns: auto auto;
}

.AllPage {
    margin: auto;
    max-width: fit-content;
    background-color: rgb(61, 52, 54);
    font-family: Arial;
    margin-top: 5%; 
}

.topnav a#all-task {
    background-color: crimson;
    color: white;
}

.todo-grid,
.todo-all-show {
    display: grid;
    grid-template-columns: 450px 150px 150px 150px;
}



.delete-todo-button {
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-color: red;
    background-color: red;   
}


button.delete-todo-button:hover {
    color: beige;
    box-shadow: 0px 10px 18px rgb(251, 61, 61);
    transform: translateY(-0.25em);
    border-color: #e90a0a;
}

.border {
    border: 1px solid;
    padding: 12px 10px;
}


/* css for input section */
.data-input {
    font-family: Arial;
    max-width: fit-content;
}

.input-heading {
    margin-bottom: 10%;
    text-align: center;
}

.data-input {
    display: grid;
    grid-template-rows: 50px 50px 40px 30px 40px;
}

.data-input-form {
    display: grid;
    grid-template-columns: 300px 70px;
}

.popup {
    color: red;
    text-align: center;
}

.popup-hidden {
    visibility: hidden;
}

.Points, .task-description {
    font-size: 15px;
}

.add-button {
    font-family:'Courier New', Courier, monospace;
    /* max-width: 100px; */
    padding: 12px 10px;
    border-radius: 5%;
    border-width: 3px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-color: rgb(8, 0, 254);
    background-color: rgb(35, 66, 203);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    /* margin-top: 2%; */
}

button.add-button:hover {
    color: beige;
    box-shadow: 0px 10px 18px rgb(3, 7, 246);
    transform: translateY(-0.25em);
    border-color: #4e82dc;
}

/*  */

