<!DOCTYPE html>

<html>
<header>
    <link rel="stylesheet" href="../style/TaskManager.css">
    </link>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</header>

<body>
    <script>
        $(function () {
            $("#nav-placeholder").load("NavBar.html");
        });
            // $(function(){
            //     $(".data-input-form").load("AddTaskForm.html");
            // });
    </script>
    <nav id="nav-placeholder">
    </nav>

    <div class="MainPage">
        <div class="daily-task">
            <h2 class="main-heading">Daily Tasks</h2>
            <div class="todo-grid">
                <h3>Index</h3>
                <h3>Description</h3>
                <h3>Points Given</h3>
            </div>
            <div class="Dtask-popup popup-hidden">You have no Daily Tasks. Go to AllTask Tab to add new Tasks</div>
            <div class="todo-grid-show">

            </div>
        </div>
        <div class="distance upcoming-task">
            <div class="upcoming-task-heading">
                <h2 class="main-heading">Upcoming Tasks</h2>
                <div>
                    <button value="7" class="day-button">7 Days</button> 
                    <button value="3" class="day-button">3 Days</button> 
                    <button value="1" class="day-button">1 Day</button> 
                </div>
            </div>
            
            <div class="todo-grid">
                <h3>Date</h3>
                <h3>Description</h3>
                <h3>Points Given</h3>
            </div>
            <div class="Utask-popup popup-hidden">You have no Upcoming Tasks. Go to AllTask Tab to add new Tasks</div>
            <div class="todo-upcoming-show">

            </div>
        </div>
    </div>
    
</body>
<%= 


%>


<!-- <script type="module" src="../scripts/TaskManager.js">
    

</script> -->

</html>